<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BadRoads - портал о плохих дорогах</title>
    <link href="~/Images/icon.png" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/scripts")

</head>
<body onload="LD()">
    <script type="text/javascript">

        function SubM() {
            alert(ViewBag.lng);
            $('#sub').click();
            
            //$("#lang :contains('#my_select option:selected').val()").attr("selected", "selected");
        }

        function LD() {
            var val = text = ViewBag.lng;
            $("select option[value=" + val + "]").attr('selected', 'true').text(text);
            var objSel = document.getElementById("lang");
            alert(objSel.options[objSel.selectedIndex].value);
            //alert(123);
            //$("#lang :last").attr("selected", "selected");
            //$("#lang option[value='EN']").attr("selected", "selected");
            //$("#lang option:selected").value;
        }

    </script>

    <header id="menu">
        <div id="btnmenu" title="Меню">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Point/Add">
                <div id="btnadd" title="Добавить место">
                    <i class="fa fa-plus fa-2x"></i>
                </div>
            </a>
        }
        @using (Html.BeginForm("ChangeCulture", "Home"))
        { 
            <select name="lang" id="lang" onchange="SubM()">
                @*<option>@Resources.Resource._Language</option>*@
                <option value="ru">RU</option>
                <option value="uk">UA</option>
                <option value="en">EN</option>
            </select>
            <input id="sub" type="submit" hidden>
        }
        <div id="logo">
            <a href="/">
                <img src="~/Images/logo_badroads.png" alt="badroads"></a>
        </div>
        <form>
            <input class="search" type="text" placeholder=@Resources.Resource._Search>
            <input class="search" type="submit" value="GO">
        </form>
        <nav>
            <ul>
                <li>
                    @Html.Partial("_LoginPartial")
                </li>
                <li>
                    @Html.ActionLink(@Resources.Resource._Main, "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink(@Resources.Resource._Map, "Map", "Home")
                </li>
                <li>
                    @Html.ActionLink(@Resources.Resource._Galery, "Gallery", "Point")
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
