@model BadRoads.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="section group hd"></div>
<div class="section group">
    <div class="col span_4_of_4">
        <h1 class="center_text">@ViewBag.Title</h1>
        <h2 class="center_text">Профиль @ViewBag.ProviderDisplayName</h2>
    </div>
</div>
<div class="section group">
    <div class="col span_1_of_3 hd"></div>
    <div class="col span_1_of_3 vis">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
 @Html.AntiForgeryToken()
 @Html.ValidationSummary(true)
            <p>
                Вы успешно прошли проверку подлинности <strong>@ViewBag.ProviderDisplayName</strong>.
            Пожалуйста, введите имя пользователя для этого сайта ниже и нажмите кнопку подтверждения.      
            </p>
            <ol>
                <li class="name">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
            </ol>
 @Html.HiddenFor(m => m.ExternalLoginData)

            <input type="submit" value="Зарегистрировать" />
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
