@model BadRoads.Models.LoginModel
@{
    ViewBag.Title = "Войти";
}
<div class="section group hd"></div>
<div class="section group">
    <div class="col span_4_of_4">
        <h1 class="ct">@ViewBag.Title</h1>
    </div>
</div>
<div class="section group">
    <div class="col span_1_of_3 hd"></div>
    <div class="col span_1_of_3">
        <h2 class="ct">Введите логин и пароль</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input class="btnconfirm" type="submit" value="Войти" />
            <p>
                @Html.ActionLink("Регистрация", "Register")
            </p>     
        }
        <h2 class="ct">Войти с помощью социальных сетей</h2>
        <div class="ct">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
