@model BadRoads.Models.LocalPasswordModel
@{
    ViewBag.Title = "Редактировать профиль";
}
<div class="section group hd"></div>
<div class="section group">
    <div class="col span_4_of_4">
        <h1 class="ct">@ViewBag.Title</h1>
    </div>
</div>
<div class="section group">
    <div class="col span_1_of_3 hd"></div>
    <div class="col span_1_of_3">
        <p>Вы вошли как <strong>@User.Identity.Name</strong>.</p>

        @if (ViewBag.HasLocalPassword)
        {
 @Html.Partial("_ChangePasswordPartial")
}
        else
        { 
 @Html.Partial("_SetPasswordPartial")
}
            @Html.Action("RemoveExternalLogins")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
