@model PagedList.IPagedList<BadRoads.Models.Point>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "ModerationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section group">
    <div class="col span_5_of_5">
        <h1 class="center_text">@Resources.Resource._ModerationList1</h1>
        <!--требуется локализация-->
        <div id="resultSearch">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("PointInfo", "Point", new { id = item.ID })" title=@Resources.Resource._ModerationList2>
                    <!--требуется локализация-->
                    <div class="grid w4">
                        <div class="title">
                            <h3>@item.Defect на @item.GeoData.FullAddress</h3>
                            <!--требуется локализация-->
                            <h3>@Resources.Resource._Added @item.Date.ToShortDateString() - @item.Date.ToLongTimeString()</h3>
                            <!--требуется локализация-->
                        </div>
                        <div class="img">
                            @if (item.Cover == null)//Check cover img in current item
                            {

                                <img src="~/Images/nophoto.png" /> //if cover is null, insert cap with some image
                    }
                            else
                            {

                                <img src="@item.Cover.Url" />
                    }
                        </div>
                    </div>
                </a>
    }
            @Html.PagedListPager(Model, page => Url.Action("ModerationList", new { page, flag = true }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 5 })
        </div>
    </div>
</div>
