@model IEnumerable<BadRoads.Models.Point>

@{
    ViewBag.Title = "ModerationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="ct">Список проблем требущих модерации</h1> <!--требуется локализация-->


@foreach (var item in Model)
{
    <a href="@Url.Action("PointInfo", "Point", new { id = item.ID })" title="Перейти к точке"><!--требуется локализация-->
        <div class="in-block grid f ct">
            <p><b>@item.Defect на @item.GeoData.FullAddress</b> </p> <!--требуется локализация-->
            <h5>Добавлено: @item.Date.ToShortDateString() - @item.Date.ToLongTimeString()</h5>  <!--требуется локализация-->
            <br />
           
            @if(item.Cover ==null)//Check cover img in current item
            {
                <img src="~/Images/nophoto.png" /> //if cover is null, insert cap with some image
            }
            else
            {
                <img src="@item.Cover.Url" />
            }
            
        </div>
    </a>
}
