@model BadRoads.Models.Point

@{
    ViewBag.Title = String.Format(Model.Defect + " по адресу: " + Model.GeoData.FullAddress);
    <p id="stringforMap" data-latitude="@Model.GeoData.Latitude" data-longitude="@Model.GeoData.Longitude" data-adress="@Model.GeoData.FullAddress"></p>    
}

@if (Request.IsAuthenticated && Roles.IsUserInRole("Moderator"))                                    // Юра Хилько, здесь в тег <a> можно поместить, что угодно, не обязательно <button>,
{                                                                                                   // главное оставить такую ссылку и проверку в if              - Волков Антон.  06.04.15
    <a href="../../Point/DeletePoint?id=@Model.ID"><button>Удалить точку</button></a>  
    if (Model.isValid==false)
    {
        @*Кнопка Одобрить точку видна только до момента валидации 07.04.15 Дон*@
        <a href="../../Point/ConfirmPoint?id=@Model.ID"><button>Подтвердить точку</button></a>
    }             
    
}

<div class="section group">
    <div class="col span_3_of_5">
        <h1 class="ct">@ViewBag.Title</h1>
        <div class="block f pimgh">
            @if (Model.Photos != null && Model.Photos.Count > 0)                       // если коллекция с фотографиями не пуста
            {
                foreach (var item in Model.Photos)                // перебираем ее и добавляем теги с фотографиями
                {
                    string path = "../../Images/nophoto.png";
                    if (item.Url != null)
                    {
                        path = item.Url;
                    } 
                <img src="@path" />
                }
            }
            else                                             // если коллекция пуста
            {

                <img src="../../Images/nophoto.png" style="height: 80%; border: 1px solid black; margin: 5%;" />             // добавляем одну фотографию-заглушку
            }
        </div>
        <div id="mapinfo" class="block f mtopnul"></div>
    </div>
    <div class="col span_2_of_5">     
        <label class="f mtop50 bold">Описание:</label>
        <label class="f mtopnul">@ViewBag.Description</label>
        <label class="f mtopnul bold">Комментарии:</label>
        <div class="scrolly comnt">
        @if (Model.Comments != null && Model.Comments.Count > 0)                       // если коллекция с комментариями не пуста
        {
            foreach (var item in Model.Comments)                // перебираем ее и добавляем теги с комментариями
            {
                <label class="f mtopnul bold">@item.Date - @item.Autor.UserName</label>
                <p class="in-block f mtopnul">@item.ContentText</p>
            }
        }
        else                                             // если коллекция пуста
        {
            <p class="in-block f mtopnul">Пока нет комментариев. Будьте первым.</p>            // добавляем одну заглушку
                }
        </div>
        @if (Request.IsAuthenticated)                               // если пользователь авторизован, может комментировать
        {
            using (Html.BeginForm("AddComment", "Point", FormMethod.Post,
                      new { enctype = "multipart/form-data" }))
            {
            <textarea name="Comment" id="textcomment" class="f h80" placeholder="комментируем..."></textarea>
            <div class="ct">
                <input id="subm" type="submit" value="Отправить" disabled />
            </div>
                    }
                }
    </div>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&sensor=false&language=uk"></script>                                          @*подключение Google Maps API*@
    @Scripts.Render("~/Scripts/pointinfo.js")
}

  

